@tailwind base;
@tailwind components;
@tailwind utilities;

@import "global-dark.scss";

/*
@include font-face( IBMPlexMono, '~/assets/fonts/IBMPlexMono-Regular', 400, normal, ttf);
@include font-face( IBMPlexMono, '~/assets/fonts/IBMPlexMono-Medium', 600, medium, ttf); */

@font-face {
  font-family: IBMPlexMono;
  font-weight: 400;
  src: url('~/assets/fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: IBMPlexMono;
  font-weight: 600;
  src: url('~/assets/fonts/IBMPlexMono-Medium.ttf') format('truetype');
}
@font-face {
  font-family: IBMPlexMono;
  font-weight: 700;
  src: url('~/assets/fonts/IBMPlexMono-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: IBMPlexMono;
  font-weight: 800;
  src: url('~/assets/fonts/IBMPlexMono-Bold.ttf') format('truetype');
}

/*@font-face {*/
/*  font-family: KgSecondChancesSketch;*/
/*  font-weight: 400;*/
/*  src: url('~/assets/fonts/KgSecondChancesSketch.ttf') format('truetype');*/
/*}*/

/*@font-face {*/
/*  font-family: KgSecondChancesSolid;*/
/*  font-weight: 400;*/
/*  src: url('~/assets/fonts/KgSecondChancesSolid.ttf') format('truetype');*/
/*}*/

@font-face {
  font-family: og-emoji-meownica;
  font-weight: 400;
  src: url('~/assets/fonts/og-dcm-emoji.ttf') format('truetype');
}

.psn-brand-color {
  color: #FDC110;
}
.blink_me {
  animation: blinker 1.3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.linetebel {
  height: 4px;
  background-color: #121212;
  display: block;
}
.linetipis {
  height: 2px;
  background-color: #121212;
  display: block;
  margin: 3px 0px;
}

.highlighter {
    position: relative;
}

.highlighter::before {
 /* Highlight color */
 background-color: rgba(253, 193, 16, 0.8);
 content: "";
 position: absolute;
 width: calc(100% + 4px);
 height: 70%;
 left: -2px;
 bottom: 0;
 z-index: -1;
}

/* 
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
